<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Данные" data-toc-modified-id="Данные-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Данные</a></span></li><li><span><a href="#Шаг-1.-Подготовка-данных" data-toc-modified-id="Шаг-1.-Подготовка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Шаг 1. Подготовка данных</a></span></li><li><span><a href="#Шаг-2.-Работа-с-моделями" data-toc-modified-id="Шаг-2.-Работа-с-моделями-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Шаг 2. Работа с моделями</a></span><ul class="toc-item"><li><span><a href="#2.2-DecisionTreeClassifier" data-toc-modified-id="2.2-DecisionTreeClassifier-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>2.2 DecisionTreeClassifier</a></span></li><li><span><a href="#2.3-RandomForestClassifier" data-toc-modified-id="2.3-RandomForestClassifier-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>2.3 RandomForestClassifier</a></span></li><li><span><a href="#2.4-LGBMClassifier" data-toc-modified-id="2.4-LGBMClassifier-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>2.4 LGBMClassifier</a></span></li><li><span><a href="#2.5-CatBoostClassifier" data-toc-modified-id="2.5-CatBoostClassifier-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>2.5 CatBoostClassifier</a></span></li><li><span><a href="#2.6-DummyClassifier" data-toc-modified-id="2.6-DummyClassifier-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>2.6 DummyClassifier</a></span></li></ul></li><li><span><a href="#Шаг-3.-Подготовка-тестовой-выборки" data-toc-modified-id="Шаг-3.-Подготовка-тестовой-выборки-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Шаг 3. Подготовка тестовой выборки</a></span></li><li><span><a href="#Шаг-4.-Вывод-решения" data-toc-modified-id="Шаг-4.-Вывод-решения-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Шаг 4. Вывод решения</a></span></li></ul></div>

# Описание задачи
Задание из соревнования https://www.kaggle.com/competitions/lost-in-space/submissions

Добро пожаловать в 2912 год, где ваши навыки работы с данными необходимы для разгадки космической тайны. Мы получили сообщение с расстояния четырех световых лет. Информация крайне тревожная…

Космический корабль "Последняя надежда" был межзвездным пассажирским лайнером, запущенным месяц назад. С почти 10 000 пассажиров на борту судно отправилось в свой первый рейс, перевозя эмигрантов из нашей Солнечной системы на три новые пригодные для жизни экзопланеты, вращающиеся вокруг ближайших звезд.

Огибая Альфу Центавра на пути к первому пункту назначения - торриду 44 Murato-E, космический корабль "Последняя надежда"столкнулся с пространственно-временной аномалией, скрытой в облаке пыли. К сожалению, его постигла та же участь что и многие корабли первопроходцев эпохи мореплавания в далеком прошлом планеты Земля…. Хотя корабль остался цел, почти половина пассажиров была перенесена в альтернативное измерение!

Чтобы помочь спасателям и вернуть потерянных пассажиров, вам предстоит предсказать, какие пассажиры были перенесены аномалией, используя записи, извлеченные из поврежденной компьютерной системы корабля.

Помогите спасти их и изменить историю! Да пребудет с вами сила ML!

В этом конкурсе ваша задача - предсказать, был ли пассажир перенесен в альтернативное измерение во время столкновения космического корабля "Последняя надежда" с пространственно-временной аномалией. Чтобы помочь вам сделать эти прогнозы, вам дается набор личных записей, извлеченных из поврежденной компьютерной системы корабля.

## Данные
- train.csv - личные записи примерно двух третей (~7000) пассажиров, которые будут использоваться в качестве обучающих данных.
- test.csv - личные дела оставшейся четверти (~1700) пассажиров, которые будут использоваться в качестве тестовых данных. Ваша задача - предсказать значение Transported для пассажиров из этого набора.
- sample_submission.csv - файл представления в правильном формате.
- PassengerId - идентификатор каждого пассажира в тестовом наборе.
- Transported - Цель. Для каждого пассажира предскажите либо True, либо False.
**Описание полей данных**
- PassengerId - уникальный идентификатор для каждого пассажира. Каждый идентификатор имеет форму gggg_pp, где gggg указывает на группу, с которой путешествует пассажир, а pp - его номер в группе. Люди в группе часто являются членами семьи, но не всегда.
- HomePlanet - планета, с которой отправился пассажир, обычно это планета его постоянного проживания.
- CryoSleep - Указывает, решил ли пассажир погрузиться в состояние условной анимации на время путешествия. Пассажиры в криосне находятся в своих каютах.
- Cabin - номер каюты, в которой находится пассажир. Имеет форму deck/num/side, где side может быть либо P для Port, либо S для Starboard.
- Destination - планета, на которой будет высажен пассажир.
- Age - Возраст пассажира.
- VIP - Оплатил ли пассажир специальное VIP-обслуживание во время рейса.
- RoomService, FoodCourt, ShoppingMall, Spa, VRDeck - Сумма, которую пассажир оплатил за каждое из многочисленных роскошных удобств космического корабля ""Последняя надежда"".
- Name - Имя и фамилия пассажира.
- Transported - Перенесен ли пассажир в другое измерение. Это цель, столбец, который вы пытаетесь предсказать.

## Шаг 1. Подготовка данных

Установим необходимые библиотеки

In [1]:
import pandas as pd
import numpy as np
import time

from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier
from sklearn.dummy import DummyClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

from category_encoders import TargetEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

import warnings

warnings.filterwarnings('ignore')

RANDOM_VAL = np.random.RandomState(42)
RAND = 42

In [2]:
space_train_data = pd.read_csv('train.csv')
space_test_data = pd.read_csv('test.csv')

In [3]:
# Функция изучения данных в таблице
def research_info(data):
    rows_count, columns_count = data.shape
    print('Количество стобцов:', columns_count)
    print('Количество строк:', rows_count)
    print('Дубликатов: {} ({:.2%})'.format(data.duplicated().sum(), data.duplicated().sum() / len(data)))
    print('Пропусков по разным признакам: {} '.format(data.isna().sum()))
    display(data.sample(n=5))

In [4]:
research_info(space_train_data)

Количество стобцов: 14
Количество строк: 6954
Дубликатов: 0 (0.00%)
Пропусков по разным признакам: PassengerId       0
HomePlanet      163
CryoSleep       170
Cabin           156
Destination     141
Age             143
VIP             156
RoomService     142
FoodCourt       144
ShoppingMall    162
Spa             145
VRDeck          147
Name            160
Transported       0
dtype: int64

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
6310,1730_01,Earth,False,E/106/P,55 Cancri e,17.0,False,68.0,0.0,0.0,0.0,795.0,Elson Curton,True
5759,8493_01,Earth,True,G/1384/P,PSO J318.5-22,22.0,False,0.0,0.0,0.0,0.0,0.0,Hanna Goodson,False
5227,0552_01,Europa,True,C/21/S,55 Cancri e,29.0,False,0.0,0.0,0.0,0.0,0.0,Minkab Brathful,True
1671,3959_02,Earth,False,F/817/P,TRAPPIST-1e,28.0,False,653.0,0.0,0.0,0.0,20.0,Elanie Sullones,False
414,3805_01,Earth,False,F/784/P,TRAPPIST-1e,36.0,False,357.0,0.0,114.0,0.0,NaN,Frandy Pacerty,False

In [5]:
space_train_data[['IdGroup', 'Passenger']] = space_train_data['PassengerId'].str.split('_', expand=True)
cols_to_move = ['IdGroup', 'Passenger']
space_train_data = space_train_data[cols_to_move + [x for x in space_train_data.columns if x not in cols_to_move]]

space_train_data.head()

,IdGroup,Passenger,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,6234,01,6234_01,Mars,False,F/1287/P,PSO J318.5-22,40.0,True,301.0,0.0,1310.0,4.0,NaN,Sters Bun,True
1,8826,01,8826_01,Europa,False,C/290/P,55 Cancri e,13.0,False,1212.0,4485.0,0.0,4016.0,57.0,Marin Hednigic,False
2,4453,01,4453_01,Europa,False,D/149/P,TRAPPIST-1e,28.0,False,0.0,2560.0,0.0,134.0,307.0,Azhasim Inguel,False
3,0602,03,0602_03,Mars,True,F/125/P,TRAPPIST-1e,21.0,False,0.0,0.0,0.0,0.0,0.0,Rana Brine,True
4,8796,01,8796_01,Earth,False,G/1418/S,TRAPPIST-1e,6.0,False,0.0,0.0,0.0,0.0,0.0,Daisya Traverdy,True

In [6]:
na_columns = ['HomePlanet', 'Cabin']
for column in na_columns:
    space_train_data.loc[space_train_data[column].isna(), column] = space_train_data.loc[
        space_train_data[column].isna(), 'IdGroup'].map(space_train_data.groupby('IdGroup')[column].first())

In [7]:
research_info(space_train_data)

Количество стобцов: 16
Количество строк: 6954
Дубликатов: 0 (0.00%)
Пропусков по разным признакам: IdGroup           0
Passenger         0
PassengerId       0
HomePlanet      103
CryoSleep       170
Cabin            91
Destination     141
Age             143
VIP             156
RoomService     142
FoodCourt       144
ShoppingMall    162
Spa             145
VRDeck          147
Name            160
Transported       0
dtype: int64

,IdGroup,Passenger,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
6350,3212,01,3212_01,Earth,False,E/212/S,TRAPPIST-1e,24.0,False,180.0,264.0,0.0,1225.0,0.0,Philia Bellarkerd,False
1145,1653,01,1653_01,Europa,False,A/19/S,NaN,47.0,False,4.0,1303.0,830.0,774.0,2.0,Phernar Oderient,False
2809,8860,04,8860_04,Mars,False,E/567/P,TRAPPIST-1e,33.0,NaN,1054.0,0.0,222.0,22.0,0.0,Appers Vloaf,False
1296,8878,01,8878_01,Earth,False,E/568/P,TRAPPIST-1e,22.0,False,0.0,0.0,0.0,0.0,906.0,Tracek Rames,False
2924,1223,01,1223_01,Europa,True,C/48/S,55 Cancri e,24.0,False,0.0,0.0,0.0,0.0,0.0,Terope Coweboded,True

In [8]:
space_train_data[['Cabin_deck', 'Cabin_num', 'Cabin_side']] = space_train_data['Cabin'].str.split('/', expand=True)
space_train_data.head()

,IdGroup,Passenger,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Cabin_deck,Cabin_num,Cabin_side
0,6234,01,6234_01,Mars,False,F/1287/P,PSO J318.5-22,40.0,True,301.0,0.0,1310.0,4.0,NaN,Sters Bun,True,F,1287,P
1,8826,01,8826_01,Europa,False,C/290/P,55 Cancri e,13.0,False,1212.0,4485.0,0.0,4016.0,57.0,Marin Hednigic,False,C,290,P
2,4453,01,4453_01,Europa,False,D/149/P,TRAPPIST-1e,28.0,False,0.0,2560.0,0.0,134.0,307.0,Azhasim Inguel,False,D,149,P
3,0602,03,0602_03,Mars,True,F/125/P,TRAPPIST-1e,21.0,False,0.0,0.0,0.0,0.0,0.0,Rana Brine,True,F,125,P
4,8796,01,8796_01,Earth,False,G/1418/S,TRAPPIST-1e,6.0,False,0.0,0.0,0.0,0.0,0.0,Daisya Traverdy,True,G,1418,S

In [9]:
space_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6954 entries, 0 to 6953
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IdGroup       6954 non-null   object
 1   Passenger     6954 non-null   object
 2   PassengerId   6954 non-null   object
 3   HomePlanet    6851 non-null   object
 4   CryoSleep     6784 non-null   object
 5   Cabin         6863 non-null   object
 6   Destination   6813 non-null   object
 7   Age           6811 non-null   float64
 8   VIP           6798 non-null   object
 9   RoomService   6812 non-null   float64
 10  FoodCourt     6810 non-null   float64
 11  ShoppingMall  6792 non-null   float64
 12  Spa           6809 non-null   float64
 13  VRDeck        6807 non-null   float64
 14  Name          6794 non-null   object
 15  Transported   6954 non-null   bool
 16  Cabin_deck    6863 non-null   object
 17  Cabin_num     6863 non-null   object
 18  Cabin_side    6863 non-null   object
dtypes: bool(1), float64(6), object(12)
memory usage: 984.8+ KB

In [10]:
planet_in = {'Mars': 0, 'Europa': 1, 'Earth': 2}
space_train_data['HomePlanet'] = space_train_data['HomePlanet'].map(planet_in)

In [11]:
planet_out = {'PSO J318.5-22': 0, '55 Cancri e': 1, 'TRAPPIST-1e': 2}
space_train_data['Destination'] = space_train_data['Destination'].map(planet_out)

In [12]:
space_train_data.loc[space_train_data['CryoSleep'] == True, 'RoomService': 'VRDeck'] = 0

In [13]:
space_train_data['TotalSum'] = space_train_data[['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].sum(
    axis=1)

In [14]:
space_train_data.loc[(space_train_data['TotalSum'] != 0), 'CryoSleep'] = space_train_data['CryoSleep'].fillna(False)
space_train_data.loc[(space_train_data['TotalSum'] == 0), 'CryoSleep'] = space_train_data['CryoSleep'].fillna(True)
space_train_data['CryoSleep'] = space_train_data['CryoSleep'].map({False: 0, True: 1})

In [15]:
na_columns = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
space_train_data[na_columns] = space_train_data[na_columns].fillna(value=0)

In [16]:
encoder = TargetEncoder()
space_train_data['Cabin_deck_encoded'] = encoder.fit_transform(space_train_data['Cabin_deck'],
                                                               space_train_data['Transported'])

In [17]:
space_train_data['Cabin_side'] = space_train_data['Cabin_side'].map({'P': 0, 'S': 1})

In [18]:
space_train_data[['IdGroup', 'Passenger', 'Cabin_num']] = space_train_data[['IdGroup', 'Passenger', 'Cabin_num']].apply(
    pd.to_numeric)

In [19]:
research_info(space_train_data)

Количество стобцов: 21
Количество строк: 6954
Дубликатов: 0 (0.00%)
Пропусков по разным признакам: IdGroup                 0
Passenger               0
PassengerId             0
HomePlanet            103
CryoSleep               0
Cabin                  91
Destination           141
Age                   143
VIP                   156
RoomService             0
FoodCourt               0
ShoppingMall            0
Spa                     0
VRDeck                  0
Name                  160
Transported             0
Cabin_deck             91
Cabin_num              91
Cabin_side             91
TotalSum                0
Cabin_deck_encoded      0
dtype: int64

,IdGroup,Passenger,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,...,ShoppingMall,Spa,VRDeck,Name,Transported,Cabin_deck,Cabin_num,Cabin_side,TotalSum,Cabin_deck_encoded
2533,498,1,0498_01,1.0,1,B/18/S,1.0,27.0,False,0.0,...,0.0,0.0,0.0,Batomam Preent,True,B,18.0,1.0,0.0,0.730650
457,5314,1,5314_01,1.0,0,C/208/S,2.0,25.0,NaN,0.0,...,0.0,0.0,168.0,Skatik Arible,True,C,208.0,1.0,3793.0,0.686144
5166,3853,1,3853_01,2.0,0,F/725/S,0.0,18.0,False,16.0,...,735.0,0.0,0.0,Jeane Herreras,True,F,725.0,1.0,757.0,0.442565
296,7990,1,7990_01,2.0,1,G/1294/P,1.0,21.0,False,0.0,...,0.0,0.0,0.0,Becca Dorsenry,True,G,1294.0,0.0,0.0,0.507506
2221,5568,2,5568_02,1.0,1,B/188/P,1.0,29.0,True,0.0,...,0.0,0.0,0.0,Merabik Covetive,True,B,188.0,0.0,0.0,0.730650

In [20]:
space_train_data = space_train_data.fillna(method='ffill')

In [21]:
space_train_data.drop(['PassengerId', 'Cabin', 'Name', 'Cabin_deck', 'TotalSum'], axis=1, inplace=True)

In [22]:
research_info(space_train_data)

Количество стобцов: 16
Количество строк: 6954
Дубликатов: 0 (0.00%)
Пропусков по разным признакам: IdGroup               0
Passenger             0
HomePlanet            0
CryoSleep             0
Destination           0
Age                   0
VIP                   0
RoomService           0
FoodCourt             0
ShoppingMall          0
Spa                   0
VRDeck                0
Transported           0
Cabin_num             0
Cabin_side            0
Cabin_deck_encoded    0
dtype: int64

,IdGroup,Passenger,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Cabin_num,Cabin_side,Cabin_deck_encoded
5661,3169,1,2.0,0,2.0,26.0,False,207.0,350.0,74.0,0.0,3.0,True,598.0,1.0,0.442565
5725,6034,3,0.0,0,2.0,8.0,False,0.0,0.0,0.0,0.0,0.0,True,385.0,0.0,0.372028
1227,8043,1,1.0,0,1.0,45.0,False,5.0,17901.0,0.0,79.0,281.0,True,97.0,1.0,0.500000
493,1779,1,2.0,0,1.0,37.0,False,164.0,603.0,0.0,0.0,11.0,True,349.0,0.0,0.442565
716,9008,2,2.0,1,2.0,25.0,False,0.0,0.0,0.0,0.0,0.0,False,1745.0,1.0,0.442565

In [23]:
space_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6954 entries, 0 to 6953
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   IdGroup             6954 non-null   int64
 1   Passenger           6954 non-null   int64
 2   HomePlanet          6954 non-null   float64
 3   CryoSleep           6954 non-null   int64
 4   Destination         6954 non-null   float64
 5   Age                 6954 non-null   float64
 6   VIP                 6954 non-null   bool
 7   RoomService         6954 non-null   float64
 8   FoodCourt           6954 non-null   float64
 9   ShoppingMall        6954 non-null   float64
 10  Spa                 6954 non-null   float64
 11  VRDeck              6954 non-null   float64
 12  Transported         6954 non-null   bool
 13  Cabin_num           6954 non-null   float64
 14  Cabin_side          6954 non-null   float64
 15  Cabin_deck_encoded  6954 non-null   float64
dtypes: bool(2), float64(11), int64(3)
memory usage: 774.3 KB

## Шаг 2. Работа с моделями

Разделим данные на features и target, а так же разобьем на трейн и тест

In [24]:
features = space_train_data.drop('Transported', axis=1)
target = space_train_data['Transported']

In [25]:
target.dtype

dtype('bool')

In [26]:
# Проверка на дисбаланс
target.value_counts(normalize=True)

True     0.503595
False    0.496405
Name: Transported, dtype: float64

In [27]:
# features_train, features_test, target_train, target_test = train_test_split(features, target, test_size=0.2,
#                                                                             random_state=RANDOM_VAL)

In [28]:
features_train, features_test, target_train, target_test = train_test_split(features,
                                                                            target,
                                                                            test_size=0.2,
                                                                            random_state=RANDOM_VAL)
features_train_, features_val, target_train_, target_val = train_test_split(features_train,
                                                                            target_train,
                                                                            test_size=0.16,
                                                                            random_state=RANDOM_VAL)
eval_set = [(features_val, target_val)]

Создадим функции, которые позволят сравнить в конце все модели и следить за качеством по ходу работы.

In [29]:
# Генерация таблицы с метриками
def get_metrics(y_test: np.ndarray,
                y_pred: np.ndarray,
                name: str = None,
                time_fit: str = None,
                time_pred: str = None):
    df_metrics = pd.DataFrame()
    df_metrics['model'] = [name]
    df_metrics['accuracy'] = accuracy_score(y_test, y_pred)
    df_metrics['Time fit'] = time_fit
    df_metrics['Time pred'] = time_pred

    return df_metrics

In [30]:
# Проверка на переобучение
def check_overfitting(model, X_train, y_train, X_test, y_test, metric_fun):
    y_pred_train = model.predict(X_train)
    y_pred_test = model.predict(X_test)
    mae_train = metric_fun(y_train, y_pred_train)
    mae_test = metric_fun(y_test, y_pred_test)

    print(f'{metric_fun.__name__} train: %.3f' % mae_train)
    print(f'{metric_fun.__name__} test: %.3f' % mae_test)
    print(f'delta = {(abs(mae_train - mae_test) / mae_train * 100):.1f} %')

### 2.2 DecisionTreeClassifier

In [31]:
dtc = DecisionTreeClassifier(random_state=RANDOM_VAL)

time_start_fit = time.time()
dtc.fit(features_train, target_train)
time_spent_fit = time.time() - time_start_fit

time_start_pred = time.time()
target_pred_dtc = dtc.predict(features_val)
time_spent_pred = time.time() - time_start_pred

In [32]:
metrics = get_metrics(target_val, target_pred_dtc, 'DecisionTreeClassifier', time_spent_fit, time_spent_pred)

### 2.3 RandomForestClassifier

К сожалению, модель случайного леса рассчитывается очень долго, поэтому исключим её из исследования.

In [33]:
rfc = RandomForestClassifier(random_state=RANDOM_VAL)

time_start_fit = time.time()
rfc.fit(features_train, target_train)
time_spent_fit = time.time() - time_start_fit

time_start_pred = time.time()
target_pred_rfc = rfc.predict(features_val)
time_spent_pred = time.time() - time_start_pred

In [34]:
metrics = metrics.append(
    get_metrics(target_val, target_pred_rfc, 'RandomForestClassifier', time_spent_fit, time_spent_pred))

### 2.4 LGBMClassifier

In [35]:
lgb = LGBMClassifier(random_state=RAND)

time_start_fit = time.time()
lgb.fit(features_train_,
        target_train_,
        eval_metric="",
        eval_set=eval_set,
        verbose=False,
        early_stopping_rounds=100)
time_spent_fit = time.time() - time_start_fit

time_start_pred = time.time()
target_pred_lgb = lgb.predict(features_val)
time_spent_pred = time.time() - time_start_pred

In [36]:
metrics = metrics.append(
    get_metrics(target_val, target_pred_lgb, 'LGBMClassifier', time_spent_fit, time_spent_pred))

### 2.5 CatBoostClassifier

In [37]:
cbc = CatBoostClassifier(random_seed=RAND,
                         allow_writing_files=False)

time_start_fit = time.time()
cbc.fit(features_train_,
        target_train_,
        eval_set=eval_set,
        verbose=0,
        early_stopping_rounds=100)
time_spent_fit = time.time() - time_start_fit

time_start_pred = time.time()
target_pred_cbc = cbc.predict(features_val)
time_spent_pred = time.time() - time_start_pred

In [38]:
target_pred_cbc = target_pred_cbc.astype(target_val.dtype)

In [39]:
metrics = metrics.append(
    get_metrics(target_val, target_pred_cbc, 'CatBoostClassifier', time_spent_fit, time_spent_pred))

### 2.6 DummyClassifier

In [40]:
dc = DummyClassifier(random_state=RANDOM_VAL)

time_start_fit = time.time()
dc.fit(features_train, target_train)
time_spent_fit = time.time() - time_start_fit

time_start_pred = time.time()
target_pred_dr = dc.predict(features_val)
time_spent_pred = time.time() - time_start_pred

In [41]:
metrics = metrics.append(
    get_metrics(target_val, target_pred_dr, 'DummyClassifier', time_spent_fit, time_spent_pred))

## Шаг 3. Подготовка тестовой выборки

In [42]:
# Приведем тестовые данные к тому же виду, что и обучающие
cols_to_move = ['IdGroup', 'Passenger']
space_test_data[cols_to_move] = space_test_data['PassengerId'].str.split('_', expand=True)
space_train_data = space_train_data[cols_to_move + [x for x in space_train_data.columns if x not in cols_to_move]]
space_test_data['HomePlanet'] = space_test_data['HomePlanet'].map(planet_in)
space_test_data['Destination'] = space_test_data['Destination'].map(planet_out)
space_test_data[['Cabin_deck', 'Cabin_num', 'Cabin_side']] = space_test_data['Cabin'].str.split('/', expand=True)
space_test_data['Cabin_side'] = space_test_data['Cabin_side'].map({'P': 0, 'S': 1})
space_test_data['Cabin_deck_encoded'] = encoder.transform(space_test_data['Cabin_deck'])

space_test_data['TotalSum'] = space_test_data[['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].sum(
    axis=1)
space_test_data[['IdGroup', 'Passenger', 'Cabin_num']] = space_test_data[['IdGroup', 'Passenger', 'Cabin_num']].apply(
    pd.to_numeric)
# space_test_data = space_test_data.fillna(-1)
space_test_data = space_test_data.fillna(method='ffill')
space_test_data.drop(['PassengerId', 'Cabin', 'Name', 'Cabin_deck', 'TotalSum'], axis=1, inplace=True)

In [43]:
research_info(space_test_data)

Количество стобцов: 15
Количество строк: 1739
Дубликатов: 0 (0.00%)
Пропусков по разным признакам: HomePlanet            0
CryoSleep             0
Destination           0
Age                   0
VIP                   0
RoomService           0
FoodCourt             0
ShoppingMall          0
Spa                   0
VRDeck                0
IdGroup               0
Passenger             0
Cabin_num             0
Cabin_side            0
Cabin_deck_encoded    0
dtype: int64

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,IdGroup,Passenger,Cabin_num,Cabin_side,Cabin_deck_encoded
1598,2.0,False,2.0,65.0,False,458.0,0.0,555.0,0.0,0.0,6319,1,1019.0,0.0,0.507506
1332,2.0,True,2.0,27.0,False,0.0,0.0,0.0,0.0,0.0,4256,3,698.0,0.0,0.507506
336,2.0,False,2.0,40.0,False,2.0,147.0,0.0,1695.0,1147.0,7372,1,1526.0,0.0,0.442565
144,0.0,False,0.0,37.0,False,46.0,83.0,738.0,0.0,12.0,73,1,3.0,0.0,0.436031
907,2.0,False,2.0,23.0,False,59.0,0.0,0.0,681.0,0.0,545,1,111.0,0.0,0.442565

Данные готовы к обучению.

## Шаг 4. Вывод решения

In [44]:
metrics

                    model  accuracy  Time fit  Time pred
0  DecisionTreeClassifier  1.000000  0.031410   0.001998
0  RandomForestClassifier  1.000000  0.411704   0.035974
0          LGBMClassifier  0.797980  0.108593   0.002947
0      CatBoostClassifier  0.482604  1.596340   0.003021
0         DummyClassifier  0.517396  0.000000   0.000000

In [45]:
best_model = cbc
predictions = best_model.predict(space_test_data)
space_test_data['PassengerId'] = space_test_data.apply(lambda x: "%04d_%02d" % (x['IdGroup'], x['Passenger']), axis=1)
predictions = pd.DataFrame(predictions, columns=['Transported'])
sub = pd.concat([space_test_data.PassengerId, predictions], axis=1)
sub.set_index('PassengerId', inplace=True)
sub.to_csv(f"submission.csv")